[{{ item.key }}]

{% if item.value.prefix is defined %}
prefix                      = {{ item.value.prefix|default("/path/to/pools/$pool") }}
{% endif %}

user                        = {{ item.value.user|default("www-data") }}
group                       = {{ item.value.group|default("www-data") }}

listen                      = {{ item.value.listen|default('127.0.0.1:9000') }}
listen.backlog              = {{ item.value.listen_backlog|default(128) }}

listen.owner                = {{ item.value.listen_owner|default("www-data") }}
listen.group                = {{ item.value.listen_group|default("www-data") }}

{% if item.value.listen_mode is defined %}
listen.mode                 = {{ item.value.listen_mode }}
{% endif %}
{% if item.value.listen_allowed_clients is defined %}
listen.allowed_clients      = {{ item.value.listen_allowed_clients }}
{% endif %}
{% if item.value.process_priority is defined %}
process.priority            = {{ item.value.process_priority }}
{% endif %}

pm                          = {{ item.value.pm|default("dynamic") }}
pm.max_children             = {{ item.value.pm_max_children|default(5) }}

{% if item.value.pm is undefined or item.value.pm == "dynamic" %}
pm.start_servers            = {{ item.value.pm_start_servers|default(2) }}
{% endif %}
{% if item.value.pm is undefined or item.value.pm == "dynamic" %}
pm.min_spare_servers        = {{ item.value.pm_min_spare_servers|default(1) }}
{% endif %}
{% if item.value.pm is undefined or item.value.pm == "dynamic" %}
pm.max_spare_servers        = {{ item.value.pm_max_spare_servers|default(3) }}
{% endif %}
{% if item.value.pm is undefined or item.value.pm == "ondemand" and item.value.pm_process_idle_timeout is defined %}
pm.process_idle_timeout     = {{ item.value.pm_process_idle_timeout|default("10s") }};
{% endif %}
{% if item.value.pm_max_requests is defined %}
pm.max_requests             = {{ item.value.pm_max_requests }}
{% endif %}
{% if item.value.pm_status_path is defined %}
pm.status_path              = {{ item.value.pm_status_path }}
{% endif %}

{% if item.value.ping_path is defined %}
ping.path                   = {{ item.value.ping_path }}
{% endif %}
{% if item.value.ping_path is defined %}
ping.response               = {{ item.value.ping_response|default("pong") }}
{% endif %}

{% if item.value.access_log is defined %}
access.log                  = {{ item.value.access_log }}
access.format               = {{ item.value.access_format|default("%R - %u %t \"%m %r%Q%q\" %s %f %{mili}d %{kilo}M %C%%") }}
{% endif %}
{% if item.value.slowlog is defined %}
slowlog                     = {{ item.value.slowlog }}
{% endif %}

{% if item.value.request_slowlog_timeout is defined %}
request_slowlog_timeout     = {{ item.value.request_slowlog_timeout }}
{% endif %}
{% if item.value.request_terminate_timeout is defined %}
request_terminate_timeout   = {{ item.value.request_terminate_timeout }}
{% endif %}
{% if item.value.rlimit_files is defined %}
rlimit_files                = {{ item.value.rlimit_files }}
{% endif %}
{% if item.value.rlimit_core is defined %}
rlimit_core                 = {{ item.value.rlimit_core }}
{% endif %}

{% if item.value.chroot is defined %}
chroot                      = {{ item.value.chroot }}
{% endif %}
chdir                       = {{ item.value.chdir|default("/") }}

catch_workers_output        = {{ item.value.catch_workers_output|default("no") }}
clear_env                   = {{ item.value.clear_env|default("yes") }}
security.limit_extensions   = {{ item.value.security_limit_extensions|default(".php") }}

{% if item.value.env_hostname is defined %}
env[HOSTNAME]               = {{ item.value.env_hostname }}
{% endif %}
{% if item.value.env_path is defined %}
env[PATH]                   = {{ item.value.env_path }}
{% endif %}
{% if item.value.env_tmp is defined %}
env[TMP]                    = {{ item.value.env_tmp }}
{% endif %}
{% if item.value.env_tmpdir is defined %}
env[TMPDIR]                 = {{ item.value.env_tmpdir }}
{% endif %}
{% if item.value.env_temp is defined %}
env[TEMP]                   = {{ item.value.env_temp }}
{% endif %}